    <app-sidebar></app-sidebar>
        <app-navbar>
            <div class="content">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&nbsp;
                    <button class="btn btn-outline-default btn-danger" type="submit">Sign Out</button>
                </form>
            </div>
        </app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
