.nav{
    display: inline-block;
    padding-top: 3%;
    position: fixed;
}

.sidebar-wrapper {
    height: 100%; 
    width: 200px;
    float: left; 
    position: fixed; 
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }

.side-nav>li>a{
    margin-left: 15px;
    margin-top: 20px;
    color: rgb(19, 83, 167);
    border: 1px solid white;
    border-radius: 18px;
    text-align: center;
    font-family: cursive;
}

#wrapper {
padding-left: 0;    
}

#page-wrapper {
width: 100%;        
padding: 0;
background-color: #fff;
}

/* Top Navigation */
.top-nav {
    padding: 0 15px;
    }
    
    .top-nav>li {
    display: inline-block;
    }
    
    .top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
    }
    
    .top-nav>li>a:hover,
    .top-nav>li>a:focus,
    .top-nav>.open>a,
    .top-nav>.open>a:hover,
    .top-nav>.open>a:focus {
    color: rgba(87, 81, 81, 0.123);
    
    }


/* Side Navigation */

@media(min-width:768px) {
.side-nav {
    position: fixed;
    top: 60px;
    width: 270px;
    border-top: 1px rgba(0,0,0,.5) solid;
    background-color: black; /* Black */
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.side-nav>li>a {
    width: 225px;
    border-bottom: 1px rgb(255, 240, 240) solid;
}

#wrapper {
    padding-left: 225px;
}

#page-wrapper {
    padding: 22px 10px;
}

.side-nav>li>ul {
padding: 0;
border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
display: block;
padding: 10px 15px 10px 38px;
text-decoration: none;
color: rgb(19, 83, 167);    
}

.side-nav>li>ul>li>a:hover {
    color: rgba(87, 81, 81, 0.123);
}

.navbar .nav > li > a > .label {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
position: absolute;
top: 14px;
right: 6px;
font-size: 10px;
font-weight: normal;
min-width: 15px;
min-height: 15px;
line-height: 1.0em;
text-align: center;
padding: 2px;
}

.navbar .nav > li > a:hover > .label {
top: 10px;
}
}