<div class="span9">
        <div class="content">
            <div class="btn-controls">
                <div class="btn-box-row row-fluid">
                    <a routerLink="/monitor" routerLinkActive="active" class="btn-box big span4" target="_blank">
                        <i class="far fa-edit" style="font-size:36px"></i>
                        <b>Flagged Questions</b>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn-box big span4"><i class="fas fa-pencil-alt"></i><b>Upload Questions</b>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn-box big span4"><i class="far fa-calendar"></i><b>Upload Time Table</b>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="btn-box-row row-fluid">
                        <a routerLink="/notification" routerLinkActive="active" class="btn-box big span4"><i class="fas fa-bullhorn"></i><b> Upload Announcements</b>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" class="btn-box big span4"><i class="fas fa-book-open"></i><b>Library Books Records</b>
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" class="btn-box big span4"><i class="far fa-copy"></i><b>Student Details</b>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                </div>
    